What are the correct formats for hashes in ResourceSync

The [ResourceSync specification](http://www.openarchives.org/rs/1.1/resourcesync) says very little about the formats of the hashes but in table 3 says that `hash` is defined by [Atom Link Extensions](https://tools.ietf.org/html/draft-snell-atompub-link-extensions-09). This spec then defines the hashes to be simple hex representations. So, for a zero-length file we would have:

```
hash="md5:d41d8cd98f00b204e9800998ecf8427e
      sha-1:da39a3ee5e6b4b0d3255bfef95601890afd80709
      sha-256:e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
```

Now, in the spec we have some entries which are not valid according to this format:

```
cat resourcesync.html | perl -ne '$l++; print "$l: $_" if (/hash="(md5|sha-1|sha-256):([^"]+)"/ and $2!~/^[0-9a-f]+$/)'
2967:              hash="sha-256:f4OxZX_x_DFGFDgghgdfb6rtSx-iosjf6735432nklj"
2972:              hash="sha-256:y66dER_t_HWEIKpesdkeb7rtSc-ippjf9823742opld"
2979:              hash="sha-256:f4OxZX_x_FO5LcGBSKHWXfwtSx-j1ncoSt3SABJtkGk"
2984:              hash="sha-256:h986gT_t_87HTkjHYE76G558hY-jdfgy76t55sadJUYT"
```

but presumably use another digest presentation. However, the current implementation in this code creates MD5 sums using the format of [RFC2616, Sec. 14.15](http://www.ietf.org/rfc/rfc2616.txt) which was specified in [version 0.1 of ResourceSync](http://www.openarchives.org/rs/0.1/resourcesync#fixity), i.e:

```
hash="md5:1B2M2Y8AsgTpgAmY7PhCfg==
      sha-1:da39a3ee5e6b4b0d3255bfef95601890afd80709
      sha-256:e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
```

So, appears like the actions are:

  * fix code here to calculate MD5 correctly
  * address issue in spec




Code issue fixed by #26.

Now produces output for md5 as expected:

```
> mkdir x
> touch x/a
> resync --hash=md5 --hash=sha-1 --hash=sha-256 --resourcelist http://x/ x
<?xml version='1.0' encoding='UTF-8'?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:rs="http://www.openarchives.org/rs/terms/">
<rs:md at="2017-03-20T23:13:10.422681Z" capability="resourcelist" completed="2017-03-20T23:13:10.423589Z" />
<url><loc>http://x/a</loc><lastmod>2017-03-20T23:12:30Z</lastmod><rs:md hash="md5:d41d8cd98f00b204e9800998ecf8427e sha-1:da39a3ee5e6b4b0d3255bfef95601890afd80709 sha-256:e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855" length="0" /></url>
</urlset>
```

Wrote note about spec on ResourceSync group: https://groups.google.com/forum/#!topic/resourcesync/jpOHcT2vMYo